{% extends "base.html" %}
{% block title %}{{ image.title }}{% endblock %}
{% block content %}
    <h1>{{ image.title }}</h1>
<div style="background-color: white;">
    {% load thumbnail %}
        {% thumbnail image.image "600" as im %}
        <a href="{{ image.image.url }}">
        <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with users_like=image.users_like.all %}

        <div class="image-info" style="display: inline-block">
                <span class="tooltip">
                    {{ image.total_likes }} like{{ image.total_likes|pluralize }}</span></div>
                <div style="display: inline-block">
                <span class="count" >
                    {{ image.total_view }} view{{ image.total_view|pluralize }}
                </span>
                </div>
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                {% if request.user not in image.users_like.all %}
                    Like
                {% else %}
                    Unlike
                {% endif %}
                </a>
                {% if request.user == image.user %}
                    <a href="/images/edit/{{ image.id }}">edit post</a>
                {% endif %}
            </div>
        <div class="post-card"
        {{ image.description|safe }}
             </div>
        </div>
    {% endwith %}
</div>
    <h2  style=" margin-left: 2%; margin-top: 60px">Comments:</h2>
    {% for comment in comments %}
        <div class="comment">
        <p class="info">
        Comment by {{ comment.user }}
        {{ comment.created }}
        </p>
        {{ comment.body }}
        </div>
        {% empty %}
            <p> No commnts yetp</p>
    {% endfor %}

    {% if new_comment %}

    {% else %}
        <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment" style="width: 60%"></p>
        </form>
    {% endif %}
{% endblock %}
{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}